<footer id="footer">
<div class="row">
  <div class="col-xs-6">
    <div class="contact_box">
      <h3 class="text-center">CONTACT ME</h3>
      <p class="base-font">I love meeting new people, so please do drop me a line.</p>
      <p><i class="fa fa-phone" ></i>  +447 397 286 856</p>
      <p><i class="fa fa-envelope" style="font-size: 17px"></i><a href="mailto:cat.r.oxley@gmail.com">cat.r.oxley@gmail.com</a></p>
    </div>

  </div>
  <div class="col-xs-6 ">
    <h3 class="text-center">FEELING SHY?</h3>
    <p>Follow me here:</p>
    <a href="https://github.com/bibiiii"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/catherineoxley"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/croxley/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="col-xs-12 text-center">
    <small>&copy; Copyright 2017, Catherine Oxley</small>
  </div>
</div>
</footer>
