<nav>
  <ul>
    <li><a href="#about_me">ABOUT</a></li>
    <li><a href="#portfolio">PORTFOLIO</a></li>
    <li><a href="#footer">CONTACT</a></li>
    <li><%= link_to 'RESUMÉ', asset_path('resume.pdf') %></li>
  </ul>
</nav>
