nav {
  position: fixed;
  z-index: 2;
  top:10px;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      color: #E7D9D0;
      font-family: Futura;
      font-size: 20px;
      padding-left: 15px;
      letter-spacing: 0.1em;
      a {
        color: #E7D9D0;
        &:hover, &:focus {
          text-decoration: none;
          box-shadow: inset 0px -10px #EE5F5B;
          color: #E7D9D0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  nav li a {
    font-size: 15px;
  }
}
